/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/web/foto/profil/super_admin.jpg
/public/web/foto/profil/
/public/web/foto/postingan/blog/thumbnail/
/public/web/foto/postingan/blog/thumbnail/compress/
/public/web/foto/postingan/produk/
/public/web/foto/postingan/produk/compress/
/public/web/foto/postingan/produk/thumbnail/
/public/web/foto/postingan/produk/thumbnail/compress/
/public/web/foto/testimoni/
/public/web/foto/dokumentasi/
/public/web/foto/tim/
/public/web/foto/kolaborasi/
/public/upload/
